@model IEnumerable<ToDoList.Models.Taak>
@using ToDoList.Models

<partial name="_Notification" />
<div class="container d-flex justify-content-center align-items-center" style="position:relative; left:150px; bottom:-35px;">
    <a class="btn btn-primary" asp-controller="Task" asp-action="Create">Voeg een taak toe</a>
    <a class="btn btn-primary" asp-controller="Task" asp-action="Clone">Clone een taak</a>
</div>
<br />
<br />
@foreach (var obj in Model)
{
    <div id="container" class="d-flex w-50 justify-content-center align-content-center card @(obj.IsHighlighted ? "bg-warning" : "bg-light")" 
         style="position:relative; margin:0 auto; padding:10px; margin-bottom:10px; bottom:0px; @(obj.IsHighlighted ? "border: 2px solid gold;" : "")">
        <h6 style="position:relative; left:600px;">@obj.Id</h6>
        <h3>@obj.Title</h3>
        <p>@obj.Description</p>
        @if(obj.Type == TaakType.Normaal)
        {
            <h5>@obj.Type</h5>
        }
        else if(@obj.Type == TaakType.Urgent)
        {
            <h5 class="text-danger">@obj.Type</h5>
        }
        else
        {
            <h5 class="text-info">@obj.Type</h5>
        }
        <h5>@obj.CreatedDateTime</h5>
        <div class="btn-group align-items-center justify-content-sm-between" style="width:60px;" role="group">
            <a class="btn btn-primary" style="position:relative; left:5px;" asp-controller="Task" asp-action="Edit" asp-route-id="@obj.Id">Bijwerken</a>
            <a class="btn btn-primary" style="position:relative; left:5px;" asp-controller="Task" asp-action="Delete" asp-route-id="@obj.Id">Verwijderen</a>
            <a class="btn btn-primary" style="position:relative; left:5px;" asp-controller="Task" asp-action="ExecuteTaak" asp-route-id="@obj.Id" asp-route-strategyType="@obj.Type">Uitvoeren</a>
        </div>
    </div>
}